In [17]:
import pandas as pd
import re

In [4]:
folder+priors+'.csv'

'C:/Users/samspencer/OneDrive - Royal Town Planning Institute/Documents/Projects/Prior Approvals/Prior approvals list 20211130.csv'

In [7]:
folder = "C:/Users/samspencer/OneDrive - Royal Town Planning Institute/Documents/Projects/Prior Approvals/"

priors = 'Prior approvals list 20211130'

df = pd.read_excel('C:/Users/samspencer/OneDrive - Royal Town Planning Institute/Documents/Projects/Prior Approvals/Prior approvals list 20211130.xlsx')

In [13]:
df.head()

,id,application_type_full,Assumed application type,description,decision,status,postcode,Eastings,Northings,lpa_name,lpa_app_no,residential_units,valid_date,decision_date,highstreet_name,towncentre_name
0,Barking_&_Dagenham-13_00560_CLU_P,Prior Approval: Change of use - retail/takeawa...,Prior Approval: Change of use - retail/takeawa...,Application for a certificate of lawfulness fo...,NaN,Superseded,RM10 9JA,549303.0,183999.0,Barking & Dagenham,13/00560/CLU_P,2.0,NaT,2013-09-10,"Broad Street, Dagenham.",NaN
1,Barking_&_Dagenham-13_01133_PRIOR,Prior Approval: Change of use - offices to dwe...,Prior Approval: Change of use - offices to dwe...,Application for prior approval of proposed cha...,NaN,Lapsed,RM6 6PY,547748.0,187941.0,Barking & Dagenham,13/01133/PRIOR,2.0,NaT,2014-02-11,"High Road, Seven Kings.",Chadwell Heath
2,Barking_&_Dagenham-13_01151_PRIOR,Prior Approval: Change of use - offices to dwe...,Prior Approval: Change of use - offices to dwe...,Application for prior approval of change of us...,NaN,Lapsed,IG11 8BB,543692.0,184058.0,Barking & Dagenham,13/01151/PRIOR,44.0,NaT,2014-03-03,NaN,NaN
3,Barking_&_Dagenham-13_01152_PRIOR,Prior Approval: Change of use - offices to dwe...,Prior Approval: Change of use - offices to dwe...,Prior notification of change of use from B1 of...,NaN,Lapsed,IG11 8TN,544488.0,184419.0,Barking & Dagenham,13/01152/PRIOR,3.0,NaT,2014-02-18,"North Street, Barking.",Barking
4,Barking_&_Dagenham-14_00379_PRIOR,Prior Approval: Change of use - offices to dwe...,Prior Approval: Change of use - offices to dwe...,Prior notification of change of use from B1 of...,NaN,Lapsed,RM6 4BP,547938.0,187935.0,Barking & Dagenham,14/00379/PRIOR,6.0,NaT,2014-05-23,"High Road, Seven Kings.",Chadwell Heath

In [12]:
df.describe()

            Eastings      Northings  residential_units
count   28042.000000   28042.000000        6872.000000
mean   525320.228443  179857.056665           9.595605
std     26789.709491   11765.675960          28.098842
min         0.000000       0.000000           0.000000
25%    516484.000000  173267.000000           1.000000
50%    524381.000000  181197.000000           2.000000
75%    534399.250000  186273.500000           7.000000
max    558074.000000  199975.000000         439.000000

In [14]:
df['application_type_full'].value_counts(dropna = False)

NaN                                                                              19471
Prior Approval: Change of use - offices to dwellinghouses                         4454
Prior Approval: Larger Home Extension                                             3094
Lawful development: Proposed use                                                   674
Prior Approval: Change of use - retail/takeaway to dwellinghouses                  641
Prior Approval: Development for electronic communications network                  224
Prior Approval: Change of use - storage to dwellinghouses                          184
Prior Approval: Change of use - retail/service/takeaway/etc to dwellinghouses      127
Prior Approval: Change of use - retail/service/etc to restaurant/café               44
Lawful development: Existing use                                                    35
Full planning permission                                                            21
Prior Approval: Change of use - business/hotels/etc to school/nursery               21
Prior Approval: Demolition of building                                              21
Prior Approval: Roof mounted solar PV on non-domestic building                      18
Prior Approval: Change of use - agriculture to dwellinghouses                        9
Prior Approval: Change of use - amusements/casinos to dwellinghouses                 8
Prior Approval: Change of use - light industrial to dwellinghouses                   7
Prior Approval: Change of use - retail to restaurant/café                            4
Prior Approval: Building for agricultural/forestry use                               3
Prior Approval: Change of use - retail/service/takeaway/etc to offices               3
Prior Approval: Change of use - school/nursery to business/hotels/etc                2
Prior Approval: Change of use - retail/service/etc to assembly/leisure               2
Non-Material Amendment                                                               1
Name: application_type_full, dtype: int64

In [15]:
df.tail()

,id,application_type_full,Assumed application type,description,decision,status,postcode,Eastings,Northings,lpa_name,lpa_app_no,residential_units,valid_date,decision_date,highstreet_name,towncentre_name
29063,Westminster-21_07259_P3JPA,NaN,Prior Approval: Roof mounted solar PV on non-d...,Notification of prior approval for the install...,NaN,Application Under Consideration,W10 4DB,523954.0,182491.0,Westminster,21/07259/P3JPA,NaN,2021-10-22,NaT,"Ladbroke Grove, Kensal Green.",NaN
29064,Westminster-21_07365_APA,NaN,Prior Approval: Roof mounted solar PV on non-d...,Application to determine whether prior approva...,NaN,Application Under Consideration,NaN,NaN,NaN,Westminster,21/07365/APA,NaN,2021-10-27,NaT,NaN,NaN
29065,Westminster-21_07365_P3JPA,NaN,Prior Approval: Roof mounted solar PV on non-d...,Application to determine whether prior approva...,NaN,Application Under Consideration,NaN,NaN,NaN,Westminster,21/07365/P3JPA,NaN,2021-10-27,NaT,NaN,NaN
29066,Westminster-21_07438_P3JPA,NaN,Class E change of use,"Prior approval applicaiton under Schedule 2, P...",NaN,Application Under Consideration,NW8 8EP,527086.0,182170.0,Westminster,21/07438/P3JPA,NaN,2021-11-01,NaT,"Edgware Road / Church Street, Westminster HS",Edgware Road/Church Street
29067,Westminster-21_07838_P3JPA,NaN,Change of use - commercial/business/service to...,Notification for prior approval of the change ...,NaN,Application Under Consideration,W2 4DB,525824.0,180971.0,Westminster,21/07838/P3JPA,NaN,2021-11-17,NaT,"Queensway, Westbourne Grove, Bayswater",Queensway/ Westbourne Grove

## Clean Change of Use Fields

In [18]:
test = df['application_type_full'][0]
test

'Prior Approval: Change of use - retail/takeaway to dwellinghouses'

In [21]:
output = re.split(r' to ',test)
output = [re.split(r' - ',i) for i in output]
output

[['Prior Approval: Change of use', 'retail/takeaway'], ['dwellinghouses']]